@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-medium: 600;
  --font-semibold: 700;
  --font-bold: 800;
  --text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.5);
  --box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  --top-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  --content-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  --classic-transition: all 0.2s ease-in-out 0s;
  --spacing: 15px;
  --big-spacing: 20px;
  --radius: 10px;
  --sidebar-width: 25%;
}
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}
footer {
  background-color: rgb(51,51,51);
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  height: 684px;
  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-haut {
  display:flex;
  width: 100%;
  height: 58px;
  background-color: rgba(0,0,0,0.60);
  justify-content: center;
}

.global {
  width:1440px;
  padding-left: 16px;
  padding-right: 16px;
}

.header .gauche {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
}

.header .droite {
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
  right: 0;
  float: right;
}

.count-joueur {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
}

.count-joueur p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  position: relative;
  margin-left: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 16px;
}
.count-joueur i {
  color: #fff;
  height: 19.58px;
  margin-left: 16px;
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 16px;
}

.en-ligne {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-top: 15px;
  margin-left: 8px;
}

.header-haut .bouton {
  background-color: rgba(0,0,0,0.25);
  padding-left: 24px; 
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
  margin-top: 8px;
  border-radius: 5px;
}


.header-menu {
  background-color: rgba(0,0,0,0.32);
  height: 68px;
  width: 100%;
}
.header-menu .menu {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
.header-menu .menu a:nth-child(1) {
  margin-left: 0px;
}
.header-menu .menu a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-left: 32px;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 300ms;
}
.header-menu .menu a:hover {
  color: #A7A7A7;
  cursor: pointer;
  transition: color 300ms;
}


.image-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-centre img {
  max-width: 400px;
  width: 100%;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.baguette-js--openNav {
  outline: 0;
  border: none;
  background-color: transparent;
  color: #eee;
  font-size: 25px;
  opacity: 0.8;
}

.baguette-js--openNav:hover {
  opacity: 1;
}

.baguette-navOpen {
  overflow: hidden !important;
}

body.baguette-navOpen #baguette-overlay {
  opacity: 1;
  visibility: visible;
}

body.baguette-navOpen #baguette-mobileNav {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
#baguette-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: var(--classic-transition);
  -o-transition: var(--classic-transition);
  transition: var(--classic-transition);
  opacity: 0;
  visibility: hidden;
}
#baguette-mobileNav {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translate(-330px);
  -ms-transform: translate(-330px);
  transform: translate(-330px);
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background: #BBBBBB;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  max-width: 100%;
  height: 100%;
  z-index: 9999;
}
.baguette-navHeader {
  text-align: center;
  padding: var(--spacing);
  background-color: #494949;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
}

.baguette-js--openNav:hover, .baguette-js--closeNav {
  cursor: pointer;
}
#baguette-mobileNav .baguette-navHeader button {
  border: none;
  background: 0 0;
  outline: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  -webkit-transition: var(--classic-transition);
  -o-transition: var(--classic-transition);
  transition: var(--classic-transition);
}
#baguette-mobileNav .baguette-navHeader button i {
  color: #fff;
  -webkit-transition: var(--classic-transition);
  -o-transition: var(--classic-transition);
  transition: var(--classic-transition);
}
#baguette-mobileNav .baguette-navHeader button:hover i {
  color: rgba(238, 238, 238, 0.5);
}
#baguette-mobileNav .baguette-navLinks a {
  display: block;
  border-bottom: 1px solid #494949;
  padding: calc(var(--spacing) / 1.5) var(--spacing);
  font-weight: 500;
  color: #494949;
  opacity: 0.8;
  -webkit-transition: var(--classic-transition);
  -o-transition: var(--classic-transition);
  transition: var(--classic-transition);
  text-decoration: none;
  padding: 10px;
  text-align: center;
  
}
#baguette-mobileNav .baguette-navLinks a:hover {
  opacity: 1;
}
#baguette-mobileNav .baguette-navLinks a.active {
  font-weight: 600;
  opacity: 1;
}
#baguette-mobileNav .baguette-navLinks a[data-id='boutique'] {
  display: none;
}
body.baguette-navOpen #baguette-overlay {
  opacity: 1;
  visibility: visible;
}
body.baguette-navOpen #baguette-mobileNav {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.actualite {
  min-height: 609px;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #EFEFEF;
}

.actualite h1 {
  margin-top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.actualite p {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #000000;
}

.lesAnnonces {
  margin-top: 48px;
  display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.annonceSkylord {
  display: none;
	width:  370px;
  min-height:300px;
  margin-left: 25px;
  margin-right: 25px;
}

.annonceSkylord .baguette-title a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  transition: color 300ms;
}

.annonceSkylord .baguette-title a:hover {
  color: rgb(130, 130, 130);
  transition: color 300ms;
}

.annonceSkylord .baguette-img img {
  width: 370px;
  border-radius: 10px;
}

.annonceSkylord .baguette-date {
  align-items: center;
  display: flex;
  justify-content: center;
}

.annonceSkylord .baguette-date .date {
  margin-left: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.annonceSkylord .baguette-date .type {
  padding: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.spoil {
  background-color: #00DDDD;
}





.actualite .bouton {
  margin-top: 80px;
  margin-bottom: 64px;
  z-index: 1;
  text-align: center;
  transition: all 0.3s ease-out;
}
.actualite .bouton a.bouton {
  position: relative;
  padding: 16px;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  background: #FFD97D;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  transition: all 0.3s ease-out;
}

.rejoindre {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
}

.rejoindre h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  align-items: center;
  text-align: center;
}
.rejoindre p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 48px;
  align-items: center;
  text-align: center;
}

.rejoindre .choix-jouer{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.rejoindre .gauche{
  width: 49%;
  background: rgba(255, 133, 133, 0.25);
  border-right: 2px solid #FF8585;
}

.rejoindre .droite{
  position: relative;
  width: 49%;
  background: rgba(255, 133, 133, 0.25);
  border-left: 2px solid #FF8585;
}

.rejoindre .choix-jouer h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 32px;
  margin-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
} 

.rejoindre .choix-jouer p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
  max-width: 415px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
} 

.rejoindre a.bouton{
  width: 208px;
  background: #FFD97D;
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transition: background 300ms;
}
.rejoindre .bouton i{
  height: 16px;
  width: 12px;
}

.discord {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background: #EFEFEF;
  margin-top: 24px;
}

.discord .acces-discord {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.discord .gauche {
  width: 263px;
}

.discord .gauche img {
  margin-top: 44px;
  margin-bottom: 65px;
  margin-left: 50px;
}

.discord .droite {
  position: relative;
  width: 648px;
  margin-top: 73px;
  margin-left: 113px;
}

.discord .droite h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.discord .droite h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.discord .margin {
  border-top: #000000 solid 1px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 26px;
}

.discord .droite p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #000;
}

.discord div.bouton {
  margin-top: 57px;
  position: relative;
  display: block;
}

.discord a.bouton {
  background: #FFD97D;
  border-radius: 10px;
  padding: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
  margin-top: 42px;
  transition: background 300ms;
  text-decoration: none;
}

.discord a.bouton:hover {
  background: #ffe5a7;
  transition: background 300ms;
  cursor: pointer;
}

footer {
  height: 175px;
}

.footer-menu {
  background-color: rgb(51,51,51);
  height: 96px;
  width: 100%;
  border-bottom: rgb(36,36,36) solid 1px;
}

.footer-menu .total-haut-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.footer-menu .gauche {
  width: 128px;
}

.footer-menu .droite {
  position: relative;
  width: auto;
  margin-top: 36px;
  margin-left: auto;
  margin-right: 20px;
}

.footer-menu .gauche img {
  width: 96px;
}

.footer-menu .droite .menu {
  margin-left: 69px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
  float: right;
}

.footer-menu .droite .menu li {
  margin-left: 32px;
  float: left;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: right;
  transition: color 300ms;
}

.bas-footer {
  background-color: rgb(51,51,51);
  height: 80px;
  width: 100%;
}

.bas-footer .total-bas-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.bas-footer .gauche {
  height: 48px;
  width: 316px;
  margin-top: 16px;
}

.bas-footer .droite {
  width: auto;
  margin-top: 24px;
  align-self: flex-end;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.bas-footer .gauche h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.bas-footer .gauche p {
  margin-top: 1px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
}

.bas-footer .droite .menu {
  opacity: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
}

.bas-footer .droite .menu li {
  margin-right: auto;
  margin-left: 32px;
  float: left;
  text-decoration: none;
  list-style-type: none;
  height: 32px;
  transition: color 300ms;
}

.bas-footer .droite .menu a {
  text-decoration: none;
  color: #FFFFFF;
}

.bas-footer .droite .menu li i {
  font-size: 32px;
}

.bas-footer .droite .menu a:hover {
  color: #A7A7A7;
  cursor: pointer;
  transition: color 300ms;
}

.footer-menu .droite .menu li:hover {
  color: #A7A7A7;
  cursor: pointer;
  transition: color 300ms;
}
a.bouton:hover, .actualite .bouton a.bouton:hover {
  background: #ffe5a7;
  transition: background 300ms;
  cursor: pointer;
}

.mobileButton {
  display: none;
}
@media screen and (max-width: 1100px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .acces-discord .gauche {
    width: 100%;
    text-align: center;
  }
  .discord .gauche img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  .acces-discord .droite {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  .acces-discord {
    padding-bottom: 32px; 
  }
  .acces-discord .bouton {
    text-align: center;
  }
  .footer-menu .droite {
    position: relative;
    width: auto;
    margin-top: 36px;
    margin-left: 37px;
  }

  .total-bas-footer .droite {
    margin-left: 212px;
  }

}

@media screen and (max-width: 850px) {
  .total-bas-footer .droite {
    margin-left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bas-footer {
    height: 160px;
  }
}
@media screen and (max-width: 950px) {
  .mobileButton {
    display: block;
  }
  .header .gauche {
    width: 100%;
  }
  .menuSkylord .menu a {
    display: none;
  }
  .footer-menu .droite {
    margin-left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-menu .droite .menu {
    margin-left: 0px;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .footer-menu {
    height: 192px;
  }
  .footer-menu .gauche {
    width: 100%;
  }
  .footer-menu a {
    display:flex;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .rejoindre .gauche {
    width: 100%;
    text-align: center;
    border-right: 0px solid #FF8585;
    border-bottom: 2px solid #FF8585;
  }
  .discord .gauche img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  .rejoindre .droite {
    border-top: 2px solid #FF8585;
    border-left: 0px solid #FF8585;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  .rejoindre .droite .bouton {
    margin-bottom: 64px;
  }
  .rejoindre {
    padding-bottom: 32px; 
  }
}

@media screen and (max-width: 500px) {
  .footer-menu {
    height: 288px;
  }
}