@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}
footer {
  background-color: rgb(51,51,51);
}
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  height: 684px;
  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-haut {
  display:flex;
  width: 100%;
  height: 58px;
  background-color: rgba(0,0,0,0.60);
  justify-content: center;
}

.global {
  width:1440px;
  padding-left: 16px;
  padding-right: 16px;
}

.header .gauche {
  float: left;
  width: 50%;
}

.header .droite {
  margin-left: 50%;
}

.count-joueur {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 5px;
  width: 79px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
}

.count-joueur p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  position: relative;
  margin-left: 16px;
}
.count-joueur i {
  color: #fff;
  height: 18.58px;
}

.en-ligne {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.header-haut .bouton {
  background-color: rgba(0,0,0,0.25);
  padding-left: 24px; 
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;

  width: 100%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}


.header-menu {
  background-color: rgba(0,0,0,0.32);
  height: 68px;
  width: 100%;
}
.header-menu .menu {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
.header-menu .menu li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-left: 32px;
  margin-right: 32px;
}
.image-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-centre img {
  width: 512px;
}



.actualite {
  min-height: 609px;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #EFEFEF;
}

.actualite h1 {
  margin-top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.actualite p {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #000000;
}

.actualite .bouton {
  margin-top: 80px;
  margin-bottom: 64px;
  z-index: 1;
  text-align: center;
  transition: all 0.3s ease-out;
}
.actualite .bouton a.bouton {
  position: relative;
  padding: 16px;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  background: #FFD97D;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  transition: all 0.3s ease-out;
}

.rejoindre {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
}

.rejoindre h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  align-items: center;
  text-align: center;
}
.rejoindre p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 48px;
  align-items: center;
  text-align: center;
}

.rejoindre .choix-jouer{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.rejoindre .gauche{
  width: 49%;
  background: rgba(255, 133, 133, 0.25);
  border-right: 2px solid #FF8585;
}

.rejoindre .droite{
  position: relative;
  width: 49%;
  background: rgba(255, 133, 133, 0.25);
  border-left: 2px solid #FF8585;
}

.rejoindre .choix-jouer h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 32px;
  margin-top: 64px;
} 

.rejoindre .choix-jouer p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
  max-width: 415px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
} 

.rejoindre a.bouton{
  width: 208px;
  background: #FFD97D;
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.rejoindre .bouton i{
  height: 16px;
  width: 12px;
}



footer {
  height: 175px;
}

.footer-menu {
  background-color: rgb(51,51,51);
  height: 96px;
  width: 100%;
  border-bottom: rgb(36,36,36) solid 1px;
}

.footer-menu .total-haut-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.footer-menu .gauche {
  width: 128px;
}

.footer-menu .droite {
  position: relative;
  width: 859px;
  margin-top: 36px;
  margin-left: 37px;
}

.footer-menu .gauche img {
  width: 96px;
}

.footer-menu .droite .menu {
  margin-left: 69px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
  float: right;
}

.footer-menu .droite .menu li {
  margin-left: 32px;
  float: left;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: right;
  transition: color 300ms;
}

.bas-footer {
  background-color: rgb(51,51,51);
  height: 80px;
  width: 100%;
}

.bas-footer .total-bas-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.bas-footer .gauche {
  height: 48px;
  width: 316px;
  margin-top: 16px;
}

.bas-footer .droite {
  position: relative;
  width: 164px;
  margin-top: 24px;
  margin-left: 512px;
}

.bas-footer .gauche h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.bas-footer .gauche p {
  margin-top: 1px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
}

.bas-footer .droite .menu {
  opacity: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
}

.bas-footer .droite .menu li {
  margin-right: auto;
  margin-left: 32px;
  float: left;
  text-decoration: none;
  list-style-type: none;
  height: 32px;
  transition: color 300ms;
}

.bas-footer .droite .menu a {
  text-decoration: none;
  color: #FFFFFF;
}

.bas-footer .droite .menu li i {
  font-size: 32px;
}

.bas-footer .droite .menu a:hover {
  color: #A7A7A7;
  cursor: pointer;
  transition: color 300ms;
}

.footer-menu .droite .menu li:hover {
  color: #A7A7A7;
  cursor: pointer;
  transition: color 300ms;
}